body{
    background-color: #fff;
}
.cHomePage {
    border: none;
}

.logo-head {
    text-align: left;
    display: block;
    width: 1140px;
    margin: 0 auto;
}

.logo-head p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.2px;
    text-transform: uppercase;
    color: #9591AF;
    text-align: left;
}

.logo-head h4 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    /* or 171% */

    letter-spacing: 0.2px;

    /* Off White_Blink Hub */

    color: #FFFFFF;
    text-align: left;
    margin-bottom: 0;
}
nav{
    margin: 0 auto;
}
.navigation {
    background-color: #19191F;
    /* background: rgba(25, 25, 31, 0.8);
mix-blend-mode: normal;
backdrop-filter: blur(15px); */
    padding: 35px 0 0 0 !important;
    margin: 0;
    /* height: fit-content; */
}

.selector {
    margin: 20px auto;
    width: fit-content;
    display: flex;
    background: #FDFDFD;
    /* Green_BlinkHub */

    border: 1px solid #69CA94;
    border-radius: 8px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    overflow: hidden;
}

.selector-tab {
    margin: 0;
    padding: 14px 48px;
}

.selector .active {
    color: white;
    background: #69CA94;
    border: #69CA94 solid 2px;
    margin: 0;
}

.selector-tab.not-active:hover {
    cursor: pointer;
    color: #fff;
    background: #4f966f;
}

.grid-container {
    max-width: 1140px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: auto auto auto auto;
    /* background-color: #2196F3; */

    padding: 10px 0;
}

.grid-item {
    /* background-color: rgba(255, 255, 255, 0.8); */
    /* border: 1px solid rgba(0, 0, 0, 0.8); */
    padding: 0;
    margin-left: -10px;
    font-size: 30px;
    text-align: center;
}

.nav-left{
    padding: 0 0 35px 0;
}

#country {
    display: none;
}

.dc-hero-container{
    position: relative;
    background: url(../partners-program/windows-p74ndnYWRY4-unsplash\ 1.svg);
    background-size: cover;
    height: 613px;
}

.dc-hero{
    width: 1140px;
    height: 613px;
    margin: 0 auto;
    color: #fff;
    background-size: contain no-repeat ;
    padding: 264px 520px 0 0;
}

.dc-hero-card{
    width: 595px;
    height: 292px;
    background: #FFFFFF;
/* Action cards Card */

box-shadow: 0px 8px 36px -11px rgba(39, 57, 119, 0.16);
border-radius: 4px;
padding: 36px;
}
.dc-hero-card h3{
    font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 17px;
/* identical to box height */

text-align: left;
letter-spacing: 0.2px;

/* Purple_Blink Hub */

color: #7465F1;
margin: 0;
}

.dc-hero-card h1{
    font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 44px;
/* identical to box height */

letter-spacing: 0.2px;
text-align: left;
/* Black_Blinkhub */

color: #19191F;
}

.dc-hero-card p {
    font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 24px;
/* or 160% */

letter-spacing: 0.2px;

/* Black_Blinkhub */

color: #19191F;
margin: 17px 0 0 0;
}

.joinUs{
    margin: 30px 0 0 0;
    padding: 16px 24px;
    background-color: #69CA94;
    color: #fff;
    border-radius: 38px;
    border:none;
    font-weight: 700;
font-size: 14px;
line-height: 22px;
/* identical to box height, or 157% */

letter-spacing: 0.2px;
}

.joinUs:hover{
    background-color: #4f966f;
}

.build-section{
    min-height: 591px;
    background: #E9E9F4;
    padding: 124px 0;
}

.build-section h1{
    font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 44px;
/* identical to box height */

letter-spacing: 0.2px;

/* Black_Blinkhub */

color: #19191F;
margin: 0 0 24px 0;
text-align: center;
}

.build-section h4{
    font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 17px;
/* identical to box height */

letter-spacing: 0.2px;

/* Black_Blinkhub */

color: #19191F;
margin: 0;
text-align: center;
}

.build-section-cards{
    width: 1140px;
    margin: 65px auto 0 auto;
    display: flex;
    justify-content: space-between;
}

.bs-card{
    width: 355px;
height: fit-content;
min-height: 195px;
background: #FFFFFF;
box-shadow: 0px 8px 36px -11px rgba(39, 57, 119, 0.16);
border-radius: 2px;
padding: 20px;
}
.bs-card img{
    margin-bottom: 14px;
}
.bs-card span{
    font-weight: 700;
font-size: 20px;
line-height: 24px;
letter-spacing: 0.2px;

/* Black_Blinkhub */

color: #19191F;
}

.bs-card p{
    font-weight: 500;
font-size: 14px;
line-height: 24px;
/* or 171% */

letter-spacing: 0.2px;

/* Black_Blinkhub */

color: #19191F;
margin-top: 12px;
}