body{
    background-color: #fff;
}
.cHomePage {
    border: none;
}

.logo-head {
    text-align: left;
    display: block;
    width: 1140px;
    margin: 0 auto;
}

.logo-head p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.2px;
    text-transform: uppercase;
    color: #9591AF;
    text-align: left;
}

.logo-head h4 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    /* or 171% */

    letter-spacing: 0.2px;

    /* Off White_Blink Hub */

    color: #FFFFFF;
    text-align: left;
    margin-bottom: 0;
}
nav{
    margin: 0 auto;
}
.navigation {
    background-color: #19191F;
    /* background: rgba(25, 25, 31, 0.8);
mix-blend-mode: normal;
backdrop-filter: blur(15px); */
    padding: 35px 0 0 0 !important;
    margin: 0;
    /* height: fit-content; */
}

.selector {
    margin: 20px auto;
    width: fit-content;
    display: flex;
    background: #FDFDFD;
    /* Green_BlinkHub */

    border: 1px solid #69CA94;
    border-radius: 8px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    overflow: hidden;
}

.selector-tab {
    margin: 0;
    padding: 14px 48px;
}

.selector .active {
    color: white;
    background: #69CA94;
    border: #69CA94 solid 2px;
    margin: 0;
}

.selector-tab.not-active:hover {
    cursor: pointer;
    color: #fff;
    background: #4f966f;
}

.grid-container {
    max-width: 1140px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: auto auto auto auto;
    /* background-color: #2196F3; */

    padding: 10px 0;
}

.grid-item {
    /* background-color: rgba(255, 255, 255, 0.8); */
    /* border: 1px solid rgba(0, 0, 0, 0.8); */
    padding: 0;
    margin-left: -10px;
    font-size: 30px;
    text-align: center;
}

.nav-left{
    padding: 0 0 35px 0;
}

#country {
    display: none;
}

.dc-hero-container{
    position: relative;
    background: url(../partners-program/windows-p74ndnYWRY4-unsplash\ 1.svg);
    background-size: cover;
    height: 613px;
}

.dc-hero{
    width: 1140px;
    height: 613px;
    margin: 0 auto;
    color: #fff;
    background-size: contain no-repeat ;
    padding: 264px 520px 0 0;
}

.dc-hero-card{
    width: 595px;
    height: 292px;
    background: #FFFFFF;
/* Action cards Card */

box-shadow: 0px 8px 36px -11px rgba(39, 57, 119, 0.16);
border-radius: 4px;
padding: 36px;
}
.dc-hero-card h3{
    font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 17px;
/* identical to box height */

text-align: left;
letter-spacing: 0.2px;

/* Purple_Blink Hub */

color: #7465F1;
margin: 0;
}

.dc-hero-card h1{
    font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 44px;
/* identical to box height */

letter-spacing: 0.2px;
text-align: left;
/* Black_Blinkhub */

color: #19191F;
}

.dc-hero-card p {
    font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 24px;
/* or 160% */

letter-spacing: 0.2px;

/* Black_Blinkhub */

color: #19191F;
margin: 17px 0 0 0;
}

.joinUs{
    margin: 30px 0 0 0;
    padding: 16px 24px;
    background-color: #69CA94;
    color: #fff;
    border-radius: 38px;
    border:none;
    font-weight: 700;
font-size: 14px;
line-height: 22px;
/* identical to box height, or 157% */

letter-spacing: 0.2px;
}

.joinUs:hover{
    background-color: #4f966f;
}

.build-section{
    min-height: 591px;
    background: #E9E9F4;
    padding: 124px 0;
}

.build-section h1{
    font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 44px;
/* identical to box height */

letter-spacing: 0.2px;

/* Black_Blinkhub */

color: #19191F;
margin: 0 0 24px 0;
text-align: center;
}

.build-section h4{
    font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 17px;
/* identical to box height */

letter-spacing: 0.2px;

/* Black_Blinkhub */

color: #19191F;
margin: 0;
text-align: center;
}

.build-section-cards{
    width: 1140px;
    margin: 65px auto 0 auto;
    display: flex;
    justify-content: space-between;
}

.bs-card{
    width: 355px;
height: fit-content;
min-height: 195px;
background: #FFFFFF;
box-shadow: 0px 8px 36px -11px rgba(39, 57, 119, 0.16);
border-radius: 2px;
padding: 20px;
}
.bs-card img{
    margin-bottom: 14px;
}
.bs-card span{
    font-weight: 700;
font-size: 20px;
line-height: 24px;
letter-spacing: 0.2px;

/* Black_Blinkhub */

color: #19191F;
}

.bs-card p{
    font-weight: 500;
font-size: 14px;
line-height: 24px;
/* or 171% */

letter-spacing: 0.2px;

/* Black_Blinkhub */

color: #19191F;
margin-top: 12px;
}

.place-section{
    padding: 145px 0 110px 0;
    background: url(./Group\ 1708.svg);
    text-align: center;
    color: #E9E9F4;
}

.place-section h1{
    font-weight: 700;
font-size: 48px;
line-height: 59px;
}

.place-section h4{
    font-weight: 700;
font-size: 20px;
line-height: 24px;
letter-spacing: 0.2px;
text-transform: uppercase;
}

.place-section-cards{
    width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.ps-card{
    width: 540px;
height: 273px;
background: #FFFFFF;
margin-top: 60px;
padding: 36px;
text-align: left;
}

.ps-card img{
    position: relative;
    float: right;
}

.ps-card h3{
    margin-top: 100px;
    font-weight: 700;
font-size: 20px;
line-height: 24px;
letter-spacing: 0.2px;

/* Black_Blinkhub */

color: #19191F;
}

.ps-card p{
    font-weight: 500;
font-size: 14px;
line-height: 24px;
/* or 171% */

letter-spacing: 0.2px;

/* Dark Grey */

color: #292933;
}
.integration-section{
    padding: 135px 0;
}
.integration-section   h4{
    font-weight: 700;
font-size: 20px;
line-height: 24px;
letter-spacing: 0.2px;
text-transform: uppercase;

/* Grey Text_Blink hub */

color: #9591AF;
text-align: center;
}

.integration-section h1{
    font-weight: 700;
font-size: 36px;
line-height: 44px;
/* identical to box height */

letter-spacing: 0.2px;

/* Black_Blinkhub */

color: #19191F;
text-align: center;
}

.integration-section p{
    width: 746px;
    font-weight: 500;
font-size: 14px;
line-height: 24px;
/* or 171% */

text-align: center;
margin: 0 auto;
letter-spacing: 0.2px;

/* Dark Grey */

color: #292933;
}

.is-grid-container{
    display: grid;
    grid-template-columns: auto auto auto auto;
    width: 1140px;
    margin: 40px auto 0 auto;
    grid-gap: 40px;
}

.popular-section{
    background: #E9E9F4;
    padding: 110px 0 170px 0;
}

.popular-section-content{
    width: 1140px;
    margin: 0 auto;
}

.pps-card-outer{
    display: flex;
    flex-direction: column;
    height: 640px;
    justify-content: space-between;
}
.pps-card-inner{
    display: flex;
    flex-direction: row;
    width: 1140px;
    justify-content: space-between;
}

.pps-card{
    max-width: 360px;
    padding: 24px;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0px 8px 36px -11px rgba(39, 57, 119, 0.16);
}

.pps-card h1{
    margin: 0;
    font-weight: 600;
font-size: 24px;
line-height: 29px;
}

.pps-card p{
    font-weight: 500;
font-size: 14px;
line-height: 24px;
margin: 12px 0 0 0;
}

.popular-section-content a{
    font-weight: 700;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

letter-spacing: 0.2px;
text-decoration-line: underline;

/* Purple_Blink Hub */

color: #7465F1;
text-decoration: none;
text-align: center;
width: fit-content;
position: relative;
left: 47%;
transform: translateX(-47%);
top: 50px;
}

.faq-section{
    padding: 145px 0;
}

.faq-section-content{
    width: 1140px;
    margin: 0 auto;
}
.faq-section .faq-section-content h1{
    font-weight: 700;
font-size: 36px;
line-height: 44px;
/* identical to box height */


/* Accent/Black_Body font_Integritty */

color: #161616;
}

.collapsible {
    background-color: transparent;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    /* border-bottom: 0.5px solid #939393; */
    font-weight: 600;
font-size: 20px;
line-height: 24px;
letter-spacing: 0.2px;
margin: 35px 0;
  }
  
  .collapsible:after {
    content: '\002B';
    font-weight: bold;
    float: right;
    margin-left: 5px;
  }
  
  .active:after {
    content: "\2212";
  }
  
  .content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    border-bottom: 0.5px solid #939393;
  }

  .content p{
    margin: 0 0 20px 0;
    font-weight: 500;
font-size: 16px;
line-height: 32px;
  }

  .join-section{
    background: #E9E9F4;
    padding: 164px 0 250px 0;
    border: none;
}

.join-section-content{
    width: 1140px;
    background: url(./join-section.svg);
    height: 583px;
    margin: 0 auto;
}

.js-form{
    background: #fff;
    padding: 54px 40px;
    width: 490px;
    height: 624px;
    position: relative;
    top: 110px;
    left: 110px;
}

.js-form h1{
    font-weight: 700;
font-size: 36px;
line-height: 44px;
letter-spacing: 0.2px;
    background: linear-gradient(90.54deg, #817EA6 0%, #2E2952 98.08%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;
}

.js-form::after{
    content: url(./Group\ 1710.svg);
    position: absolute;
    top: -45px;
    right: -20px;
}

.js-form h3{
    font-weight: 700;
font-size: 20px;
line-height: 24px;
letter-spacing: 0.2px;
text-transform: uppercase;

/* Black_Blinkhub */

color: #19191F;
}

.js-form input{
    width: 409px;
height: 60px;
border: 1px solid #9591AF;
border-radius: 6px;
margin: 12px 0 12px 0;
}

.js-form input::placeholder{
    color: #000;
}

.js-form a{
    position: relative;
    left: 37%;
    transform: translateX(-37%);
    top: 30px;
}
